<header class="ht-header">
    <div class="container">
        <nav id="mainNav" class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="/"><img class="logo" src="{{ get_url(path="images/icon.png") | safe }}" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li><a href="/">Home</a></li>	
                        <li class="dropdown first">
                            <a href="/media" data-hover="dropdown">
                            media<i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li><a href="/anime">Anime</a></li>
                                <li><a href="/manga">Manga</a></li>
                                <li><a href="moviegrid.html">Light Novel</a></li>
                                <li><a href="moviegridfw.html">Web Novel</a></li>
                            </ul>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            univers<i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li class="dropdown">
                                    <a href="/univers/heroes">Heroes <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu level2">
                                        <li><a href="/univers/heroes/legendary">Legendary Weapons</a></li>
                                        <li><a href="/univers/heroes/vassal">Vassal Weapons</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/">Monsters <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu level2">
                                        <li><a href="/">Animal</a></li>
                                    </ul>
                                </li>
                                <li><a href="/univers/magic">Magic</a></li>
                                <li class="dropdown">
                                    <a href="/univers/items">items <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu level2">
                                        <li><a href="/univers/items/accessories">Accessories</a></li>
                                        <li><a href="/univers/items/armor">Armor</a></li>
                                        <li><a href="/univers/items/compounds">Compounds</a></li>
                                        <li><a href="/univers/items/weapons">Weapons</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/univers/locations">Locations <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu level2">
                                        <li><a href="/univers/locations">Rock Valley</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            charaters <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li class="dropdown">
                                    <a href="/charaters/legendary_heros">Legend Heroes <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                    <ul class="dropdown-menu level2">
                                        <li><a href="/charaters/legendary_heros/naofumi">Naofumi Iwatani</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown first">
                            <a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                            explore <i class="fa fa-angle-down" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu level1">
                                <li><a href="userfavoritegrid.html">videos</a></li>
                                <li><a href="userfavoritelist.html">images</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav flex-child-menu menu-right">           
                        <li><a href="#">Help</a></li>
                        <li class="loginLink"><a href="#">LOG In</a></li>
                        <li class="btn signupLink"><a href="#">sign up</a></li>
                    </ul>
                </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</header>