{% extends "characters/hero.html" %}

    {% block content %}
    <div class="page-single movie-single cebleb-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="mv-ceb">
                        <img src="{{ page.permalink }}anime.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct">
                        <h1 class="bd-hd">{{ page.title }}</h1>
                        <p class="ceb-single">{{ page.extra.hero }} | Hero</p>
                        <div class="social-link cebsingle-socail">
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-googleplus"></i></a>
                            <a href="#"><i class="ion-social-linkedin"></i></a>
                        </div>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overviewceb">Overview</a></li>
                                    <li><a href="#personality"> Personality</a></li>
                                    <li><a href="#background"> Background</a></li>
                                    <li><a href="#mediaceb"> Media</a></li>                     
                                </ul>
                                <div class="tab-content">
                                    <div id="overviewceb" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <p>Itsuki Kawasumi (川澄樹 Kawasumi Itsuki?) is the Bow Hero (弓の勇者 Yumi no Yuusha?), one of the four Legendary Heroes summoned in Melromarc. </p>
                                                <div class="title-hd-sm">
                                                    <h4>Appearance</h4>
                                                </div>
                                                <div class="mvsingle-item ov-item">
                                                    <p>Though his appearance suggests he is younger, he is actually 17 years of age when summoned. He has naturally curly blonde hair that flops, giving him a charming appearance</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="sb-it">
                                                    <h6>Rōmaji:  <a href="#">{{ page.extra.romaji }}</a></h6>
                                                    <h6>Kanji/Kana: <a href="#">{{ page.extra.kana }}</a></h6>
                                                </div>
                                                <div><h5>Physical Information </h5></div>
                                                    <br>
                                                <div class="sb-it">
                                                    <h6>Age: <a href="#">{{ page.extra.age }}</a></h6>						            			
                                                    <h6>Race: <a href="#">{{ page.extra.race }}</a></h6>
                                                    <h6>Gender: <a href="#">{{ page.extra.gender }}</a></h6>
                                                    <h6>Eye Color: <a href="#">{{ page.extra.eye }}</a></h6>
                                                    <h6>Hair Color: <a href="#">{{ page.extra.hair }}</a></h6>
                                                </div>
                                                <div><h5>Professional & Social Info </h5></div>
                                                    <br>
                                                <div class="sb-it">
                                                    <h6>Family: <a href="#">{{ page.extra.family }}</a></h6>
                                                    <h6>Status: <a href="#">{{ page.extra.status }}</a></h6>
                                                    <h6>Occupation: <a href="#">{{ page.extra.occupation }}</a></h6>
                                                    <h6>Lv.: <a href="#">{{ page.extra.lv }}</a></h6>
                                                    <h6>Country: <a href="#">{{ page.extra.country }}</a></h6>
                                                    <h6>Affiliation: <a href="#">{{ page.extra.affiliation }}</a></h6>
                                                    <h6>Epithet: <a href="#">{{ page.extra.epithet }}</a></h6>
                                                    <h6>Weapon: <a href="#">{{ page.extra.weapon }}</a></h6>
                                                </div>
                                                <div><h5>Physical Information </h5></div>
                                                    <br>
                                                <div class="sb-it">
                                                    <h6>Anime: <a href="#">{{ page.extra.anime }}</a></h6>					            			
                                                    <h6>Manga: <a href="#">{{ page.extra.manga }}</a></h6>
                                                    <h6>Light Novel: <a href="#">{{ page.extra.light }}</a></h6>
                                                    <h6>Web Novel: <a href="#">{{ page.extra.web }}</a></h6>
                                                    <h6>Japanese Voice: <a href="#">{{ page.extra.japanese_voice }}</a></h6>
                                                    <h6>English Voice: <a href="#">{{ page.extra.english_voice }}</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="personality" class="tab">
                                    <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Itsuki's</h3>
                                                    <h2>Personality</h2>
                                                </div>							            						
                                            </div>
                                                <p>He feels in his own mind that he's the strongest of the Heroes, and undergoes stealthy missions to kill corrupt nobles and save villages, almost always just for the praise. Being a bullied child has left Itsuki with a desire to be special and superior. His sense of justice and need for praise both stem from this, as does his inability to deal with the meek Rishia, who reminds him of his weakness.</p>
                                                <p>Like the other heroes, Naofumi excluded, Itsuki believed that the world they had come into was identical to that of a video game, but he goes further than they do and believes Naofumi has met God, i.e. the game master, and received powers from him to explain his superiority. Even after becoming a yes man and having everything shattered, he still feels that the fact that Rishia is stronger than him has to be a cheat. He also thought he was immortal since the "game" wouldn't let him die.</p>
                                                <p>He called himself an ally of justice and tried to act on it, at least at the beginning. But, he lost the true essence of justice and instead just acted on his own selfish desires of getting praised, under the guise of justice. His sense of justice was so overpowering that he refused to listen to what anyone had to say and believed his own to be the only true justice. Though he goes on about justice on a regular basis, his view of it is incredibly self-indulgent and one-sided. He was willing to put everyone he believed to be evildoers to death just because he believed they were evil and was willing to kill them. This got worse when he was affected by the Curse Series.</p>
                                                <p>He can also be quite gullible and unobservant, though not to Motoyasu's extent, as all of his teammates excluding Rishia are in fact extremely untrustworthy people who just praise him all the time. They just fed his desire to be praised and every time they did, he felt satisfied by their praise. Then again, he can be easily fooled like he was by the Church of the Three Heroes when they lied about Naofumi's misdeeds and that Naofumi had an item that supposedly had the power to raise his EXP intake. After awakening his curse series, he believed Naofumi was evil for having slaves and turning away people who he could supposedly revive from the dead because Malty tricked him into thinking the latter was possible. He believed those who praise him and not others who tried to reason with him.</p>
                                                <p>He has a hero complex which means he will wait until people are in a crisis before acting so he can "save" them in a heroic fashion, going far enough to lie about his abilities to cover up his inaction before people fall into critical situations. He's extremely petty, and not very smart, believing Naofumi is guilty of both the false attempt of rape charge, and later of trying to take credit for things he had done, which wouldn't be hard for anyone to do because Itsuki tries to be a robin-hood-esque hero who conceals his own activities often. His pettiness was once again exposed when Rishia was praised over him for her efforts against L'Arc Berg. To get back at her, he framed Rishia for breaking an item and kicked her out of his party.</p>
                                                <p>In short, he's stuck up, gullible, and wants to be praised by others. The one thing Naofumi ever said to him that genuinely enraged Itsuki was simply "I thought you were better than this, my evaluation of you has dropped," for which he was willing to go so far as to shoot the Shield Hero in the back of the head. </p>
                                        </div>
                                    </div>
                                    <div id="background" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Itsuki's</h3>
                                                    <h2>Background</h2>
                                                </div>							            						
                                            </div>
                                            <p>On his way home from prep school, he was suddenly hit by a speeding truck with no warning. He later found himself summoned to another world as one of the Four Legendary Heroes, the Bow Hero.</p>
                                            
                                            <h2>Trivia</h2>
                                            
                                            <p>According to Itsuki, this world is similar to the console game, Dimension Wave. But he was the first to agree that there is some difference. </p>
                                            </div>
                                        </div>
                                    <div id="mediaceb" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h2>Videos and Pictures</h2>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Videos <span>(8)</span></h4>
                                            </div>
                                            <div class="mvsingle-item media-item">
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Robert Downey Jr</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Scarlett Johansson</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Director Joss Whedon</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Mark Ruffalo</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Official Trailer #2</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Photos <span> (21)</span></h4>
                                            </div>
                                            <div class="mvsingle-item">
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="" ><img src="images/uploads/image1.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery"  href="images/uploads/image21.jpg" ><img src="images/uploads/image2.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image31.jpg" ><img src="images/uploads/image3.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image41.jpg" ><img src="images/uploads/image4.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image51.jpg" ><img src="images/uploads/image5.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image61.jpg" ><img src="images/uploads/image6.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image71.jpg" ><img src="images/uploads/image7.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image81.jpg" ><img src="images/uploads/image8.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image91.jpg" ><img src="images/uploads/image9.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image101.jpg" ><img src="images/uploads/image10.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image111.jpg" ><img src="images/uploads/image1-1.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image121.jpg" ><img src="images/uploads/image12.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image131.jpg" ><img src="images/uploads/image13.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image141.jpg" ><img src="images/uploads/image14.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image151.jpg" ><img src="images/uploads/image15.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image161.jpg" ><img src="images/uploads/image16.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image171.jpg" ><img src="images/uploads/image17.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image181.jpg" ><img src="images/uploads/image18.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image191.jpg" ><img src="images/uploads/image19.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image201.jpg" ><img src="images/uploads/image20.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image211.jpg" ><img src="images/uploads/image2-1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    {% endblock content %}