{% extends "characters/hero.html" %}

    {% block content %}
    <div class="page-single movie-single cebleb-single">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="mv-ceb">
                        <img src="{{ page.permalink }}anime.png" alt="">
                    </div>
                </div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <div class="movie-single-ct">
                        <h1 class="bd-hd">{{ page.title }}</h1>
                        <p class="ceb-single">{{ page.extra.hero }} | Hero</p>
                        <div class="social-link cebsingle-socail">
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-googleplus"></i></a>
                            <a href="#"><i class="ion-social-linkedin"></i></a>
                        </div>
                        <div class="movie-tabs">
                            <div class="tabs">
                                <ul class="tab-links tabs-mv">
                                    <li class="active"><a href="#overviewceb">Overview</a></li>
                                    <li><a href="#personality"> Personality</a></li>
                                    <li><a href="#background"> Background</a></li>
                                    <li><a href="#mediaceb"> Media</a></li>                     
                                </ul>
                                <div class="tab-content">
                                    <div id="overviewceb" class="tab active">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <p>Ren Amaki (天木錬 Amaki Ren?) is the Sword Hero (剣の勇者 Ken no Yuusha?), one of the four Holy Heroes summoned in Melromarc.</p>
                                                <div class="title-hd-sm">
                                                    <h4>Appearance</h4>
                                                </div>
                                                <div class="mvsingle-item ov-item">
                                                    <p>Ren has black hair with a handsome face and was described by Naofumi to be really suited to be a protagonist of dimensional-cross stories from manga or anime bishounen. He always dresses in black or some other dark color.</p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-sm-12">
                                                <div class="sb-it">
                                                    <h6>Rōmaji:  <a href="#">{{ page.extra.romaji }}</a></h6>
                                                    <h6>Kanji/Kana: <a href="#">{{ page.extra.kana }}</a></h6>
                                                </div>
                                                <div><h5>Physical Information </h5></div>
                                                    <br>
                                                <div class="sb-it">
                                                    <h6>Age: <a href="#">{{ page.extra.age }}</a></h6>						            			
                                                    <h6>Race: <a href="#">{{ page.extra.race }}</a></h6>
                                                    <h6>Gender: <a href="#">{{ page.extra.gender }}</a></h6>
                                                    <h6>Eye Color: <a href="#">{{ page.extra.eye }}</a></h6>
                                                    <h6>Hair Color: <a href="#">{{ page.extra.hair }}</a></h6>
                                                </div>
                                                <div><h5>Professional & Social Info </h5></div>
                                                    <br>
                                                <div class="sb-it">
                                                    <h6>Family: <a href="#">{{ page.extra.family }}</a></h6>
                                                    <h6>Status: <a href="#">{{ page.extra.status }}</a></h6>
                                                    <h6>Occupation: <a href="#">{{ page.extra.occupation }}</a></h6>
                                                    <h6>Lv.: <a href="#">{{ page.extra.lv }}</a></h6>
                                                    <h6>Country: <a href="#">{{ page.extra.country }}</a></h6>
                                                    <h6>Affiliation: <a href="#">{{ page.extra.affiliation }}</a></h6>
                                                    <h6>Epithet: <a href="#">{{ page.extra.epithet }}</a></h6>
                                                    <h6>Weapon: <a href="#">{{ page.extra.weapon }}</a></h6>
                                                </div>
                                                <div><h5>Physical Information </h5></div>
                                                    <br>
                                                <div class="sb-it">
                                                    <h6>Anime: <a href="#">{{ page.extra.anime }}</a></h6>					            			
                                                    <h6>Manga: <a href="#">{{ page.extra.manga }}</a></h6>
                                                    <h6>Light Novel: <a href="#">{{ page.extra.light }}</a></h6>
                                                    <h6>Web Novel: <a href="#">{{ page.extra.web }}</a></h6>
                                                    <h6>Japanese Voice: <a href="#">{{ page.extra.japanese_voice }}</a></h6>
                                                    <h6>English Voice: <a href="#">{{ page.extra.english_voice }}</a></h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="personality" class="tab">
                                    <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Ren's</h3>
                                                    <h2>Personality</h2>
                                                </div>							            						
                                            </div>
                                            <p>Ren is a person who acts cool and tries very hard to portray a loner's image. He runs his party like a guild, only working with the other members when the prey he seeks to kill is too strong for him to hunt alone. His attitude towards his comrades is that weaker members should work to individually increase their powers to catch up to the stronger ones.</p>
                                            <p>Like the other heroes, Naofumi excluded, he is initially under the impression that the world they've come into is a game, and he stubbornly refuses to think otherwise. Unlike Motoyasu and Itsuki, Ren seems to actually recognize to some extent the consequences of his actions, as he understood it was his fault that the Zombie Dragon caused a plague. He is also more reasonable than Itsuki or Motoyasu, as he believed in the possibility that Naofumi was telling the truth when he claimed that Melty was under his protection and not his hostage, and tried to propose an idea that would help resolve the situation peacefully. He, alongside Itsuki, also stood up for Naofumi after Malty and Motoyasu tried to take Raphtalia from him via cheating, and called Motoyasu out for believing Raphtalia was brainwashed even when they saw her comforting an obviously deeply upset Naofumi. </p>
                                            <p>However, like Motoyasu and Itsuki, Ren started becoming more arrogant about his ability. He would refuse to acknowledge his defeats or admit the reason for them was because he wasn't as strong as he claimed he was. Instead, he would fault others around him while trying to act superior, ironically making himself look weaker as a result. This grew more noticeable when he and the other heroes were told they needed to start training seriously, as he tried to dismiss the training as pointless and a waste of their time, believing they were better off getting stronger by leveling up, missing the whole point of why they need to get stronger. Even when Eclair overwhelmingly defeated him during their sword match to prove him wrong, he resorted to using a skill out of desperation and still tried to deny the fact that he was clearing losing, ironically proving her right.</p>
                                            <p>Ren grew increasingly more unstable following his defeat and the death of his companions by the Spirit Tortoise. He refused to admit that it was his recklessness and arrogance that got his companions killed by saying they were weaker than he expected, as well as the sudden change of the people's treatment of him only further this. This made it easier for Bitch to trick him into believing her while making Ren think Naofumi, the Queen, and Motoyasu were the evil ones. This proved to be a huge mistake that cost him everything he had when Bitch betrayed him by the next morning, which triggered Ren's Curse Series. </p>
                                            <p>Following being possessed by the Greed Series, Ren began stealing from others like how people stole from him. But at the same time, he didn't want to reveal his identity, so he began wearing a mask and working from behind the scene, forming his own band of bandits to attack people. He also grew more contradict; he acted more prideful and boastful than before but would usually attack his targets when they were alone. He grew even worse after succumbing to Gluttony, becoming more violent and obsessed with increasing his power by killing people and stealing their EXP points.</p>
                                            <p>After he was free from his weapon's curses' influence and officially becomes an ally to Naofumi and his friends, he manages to mellow out and accept his faults while also striving to become stronger the right way. </p>
                                        </div>
                                    </div>
                                    <div id="background" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h3>Ren's</h3>
                                                    <h2>Background</h2>
                                                </div>							            						
                                            </div>
                                                <p>Ren comes from an alternate Japan. In the world he lives in, everything is much more advanced and futuristic. In his world, every game in the modern era is run on VRMMO.</p>
                                                <p>One day while on the way home from school, Ren was caught up in a murder case. The murder case was pretty well known around the town he lived in. Ren mentioned how he remembers saving his best friend and how the criminal was arrested. Ren didn't go into too much detail after that, but started rubbing his side when talking; it was suspected that Ren was probably stabbed on the side of his body during the struggle then later died from blood loss. Before he knew it, he woke up he found himself summoned to another world. The world reminded him a lot of the VRMMO he played in the previous world, Brave Star Online.</p>
                                            
                                                <h2>Trivia</h2>

                                                <p>The Four Legendary Heroes Naofumi, Ren, Motoyasu, and Itsuki are all inspired by the protagonist of a series the author has read before in the past.</p>
                                                <p>Ren's character is based on the Isekai, Loner, and Sword Wielder trope, which is an obvious parody of Kirito from Sword Art Online. Coincidently, they share the same Japanese voice actor.</p>
                                                <p>Ren comes from an Alternative Japan where VRMMO exist. He believes that the world he was summoned to is based off the game Brave Star Online played in the previous world.</p>
                                                <p>He treats his party members as NPC and uses them to grind in an appropriate leveling ground in accordance with their levels and will join hands only when needed. </p>
                                            </div>
                                        </div>
                                    <div id="mediaceb" class="tab">
                                        <div class="row">
                                            <div class="rv-hd">
                                                <div>
                                                    <h2>Videos and Pictures</h2>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Videos <span>(8)</span></h4>
                                            </div>
                                            <div class="mvsingle-item media-item">
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow"  href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Robert Downey Jr</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Scarlett Johansson</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Director Joss Whedon</a></h6>
                                                        <p class="time"> 1: 03</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Interview: Mark Ruffalo</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                        <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Official Trailer #2</a></h6>
                                                        <p class="time"> 3:27</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>Photos <span> (21)</span></h4>
                                            </div>
                                            <div class="mvsingle-item">
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="" ><img src="images/uploads/image1.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery"  href="images/uploads/image21.jpg" ><img src="images/uploads/image2.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image31.jpg" ><img src="images/uploads/image3.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image41.jpg" ><img src="images/uploads/image4.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image51.jpg" ><img src="images/uploads/image5.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image61.jpg" ><img src="images/uploads/image6.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image71.jpg" ><img src="images/uploads/image7.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image81.jpg" ><img src="images/uploads/image8.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image91.jpg" ><img src="images/uploads/image9.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image101.jpg" ><img src="images/uploads/image10.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image111.jpg" ><img src="images/uploads/image1-1.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image121.jpg" ><img src="images/uploads/image12.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image131.jpg" ><img src="images/uploads/image13.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image141.jpg" ><img src="images/uploads/image14.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image151.jpg" ><img src="images/uploads/image15.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image161.jpg" ><img src="images/uploads/image16.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image171.jpg" ><img src="images/uploads/image17.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image181.jpg" ><img src="images/uploads/image18.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image191.jpg" ><img src="images/uploads/image19.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image201.jpg" ><img src="images/uploads/image20.jpg" alt=""></a>
                                                <a class="img-lightbox"  data-fancybox-group="gallery" href="images/uploads/image211.jpg" ><img src="images/uploads/image2-1.jpg" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    {% endblock content %}